<form action="/courses" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
  </div>

  <select name="type" class="form-select mb-3" aria-label="Default select example">
    <option selected value="Full Time">Full Time</option>
    <option value="Part Time">Part Time</option>
  </select>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>